.main .home-page-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    top:0;
    left: 0;
    right:0;
    bottom: 0;
}
.main .home-page-container .main-image{
    grid-column: 2;
}
.main .home-page-container .main-image img{  
    z-index: 1;
    opacity:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 .main .home-page-container .home-page-left{
     grid-column:1;
     display: grid;
     grid-template-columns: auto 1fr;
     grid-gap:30px;
 }
.weather-container .weather-icon canvas{
    width:100%;
    
    position: relative;
 }
 .weather{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
     backdrop-filter: blur(20px);
    background: #faebd75c;
    /* border-radius: 12px; */
    padding:10px;
    animation: loading 1s ease-in-out forwards;
     grid-column:1;
     width:220px;
   
 }
 .weather span{
     animation: loading 1s ease-in-out infinite;
 }
 .weather .weather-container .weather-field ,.weather .weather-container .weather-icon{
animation: loading 1s ease-in-out forwards;
 opacity:0;
 }
 @keyframes loading{
     from{
         opacity:0
     }
     to{
         opacity:1
     }
 }
 .weather-container .weather-field{   
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 .weather-container .weather-field h3,.weather-container .weather-field h4,.weather-container .weather-field h1 time{
     line-height: 0;
 }
 .main .welcome-text{
     
     flex-direction: column;
      grid-column:2;
      display: flex;
    justify-content: center;
    height: 100vh;
    
 }
 .main .welcome-text .slogan{
     padding:10px;
 }
 .main .welcome-text .slogan h1{
     font-size:7.5em;
     font-weight:bolder;
     opacity:0;
     line-height: 0.5;
     text-transform: capitalize;
    }
    .main .welcome-text p{
        /* opacity:0; */
        font-weight: 100;
        float:right;
        text-align: justify;
    }
    .main .welcome-text p.drop-cap:first-letter {
    font-size: 3.8em;
    font-weight: 100;
    float: left;
    margin-top: -0.1em;
}
.main .welcome-text .welcome-details{
    border:3px solid #fff;
    padding:10px;
    display:flex;
    position: relative;
    width:300px;
    opacity: 0;
}
 
 /*spinner*/
 .spinner{
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}
.spinner:before{
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 30px;
  box-shadow: inset -5px 0 0 0px #cb876c;
  clip: rect(0, 30px, 15px, 0);
  animation: spin 1s infinite ease;
}
@keyframes spin {
  0% {
    transform: rotate(-180);
    box-shadow: inset -5px 0 0 0px #cb876c;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: inset -2px 0 0 3px #cb876c;
  }
}
@media(max-width:768px){
    .weather{
       display: none;
    }
    .main .welcome-text .slogan h1{
        font-size:4.5rem;
    }
    .main .home-page-container .home-page-left{
        grid-gap:0;
    }
    .main .welcome-text p {
        /* opacity: 0; */
        font-weight: 100;
        /* float: right; */
        text-align: center;
    }
    .main .home-page-container {
        display: block;
    }
    .main .welcome-text {
        position: absolute;
    }
    .main .home-page-container .main-image {
        grid-column: 2;
        opacity: 0.4;
    }
}
@media only screen and (max-width:1307px){
    .main .home-page-container {
   
    grid-template-columns: 1fr;
    
}

}
@media(max-height:734px) and (min-width:1307px) {
    .main .welcome-text .slogan h1{
     font-size:6.5rem;
    }
}
@media(max-height:638px)and (min-width:1307px){
    .main .welcome-text .slogan h1{
     font-size:5.5rem;
    }
}
@media(max-height:540px)and (min-width:1307px){
    .main .welcome-text .slogan h1{
     font-size:4.5rem;
    }
}

