@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 3;
    background-color: rgba(142, 121, 121, 0.42);
    backdrop-filter: blur(20px);
}
#hamburgerMenu h2{
    font-family: 'Monoton',cursive;
    cursor: pointer;
    font-weight: 100;
    font-size: xx-large;
    float: right;
    margin-right: 30px;
}
.closeMenu{
    position: absolute;
    right: 2%;
    top: -6%;
    
}
.closeMenu h2{
    cursor: pointer;
     font-size: 100px;
    color:rgb(199, 59, 59);
}
.closeMenu:hover{
    animation: rot 2s linear infinite;
    transform-origin: 49% 45%;
}
@keyframes rot {
    from{
        transform: rotate(0deg);

    }
    to{
        transform: rotate(360deg);
        
    }
}

nav a{
    position: relative;
    margin-bottom:40px;
    line-height: 0;
    /* width:156px; */
    font-family: 'Monoton',cursive;
    
    text-align: center;
}
nav h2{
    font-weight: 100;
}
nav a.active::before{
      -moz-animation: width 0.85s cubic-bezier(0.215, 0.610, 0.355, 1) forwards ;
    -webkit-animation: width 0.85s cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
    -ms-animation: width 0.85s cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
    animation: width 0.85s cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
    
    background: #fff;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    width: 0;
}
nav a.active::after{
        -moz-animation: width 0.85s cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
    -webkit-animation: width 0.85s cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
    -ms-animation: width 0.85s cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
    animation: width 0.85s cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
   
    background: #fff;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    width: 0;

}
@keyframes width{
    
    0%{
        width:0%;
    }
    100%{
        width:100%;
    }
}
@keyframes width-alt{
    
    0%{
        width:0%;
    }
    100%{
        width:100%;
    }
}
@media only screen and (max-width: 768px) {
    nav a{
        font-size: 10px;
    }
    nav{
        background-color: rgba(0, 0, 0, 0.78);
    }
    #hamburgerMenu h2 {
        font-size:15px;
        margin-top:30px;
        position: fixed;
        right: 0;
    }
    .closeMenu{
        right: 10%;
        top: -10%;
        animation: rot 2s linear infinite;
    transform-origin: 42% 42%;
    }
}
@media only screen and (max-width: 1366px) {
nav a{
        font-size: 11px;
        margin-bottom:20px;
    }
    #hamburgerMenu h2{
        font-size: 21px;
        right:-23px;
    }
}