.skills{
    margin-top:20px;
}
.skills .sub-head h2{
    font-weight: 100;
}
.skills .sub-head .stack{
    position: relative;
}
.skills .sub-head .stack-button{
    position: absolute;
    width:40px;
    height:40px;
    background: #ff33669e;
    border:1px solid #fdfdff4f;
    border-radius: 8px;
/* box-shadow: 5px 5px 5px 0px rgba(228, 228, 228); */
    transform: rotateX(45deg) rotateZ(45deg) translateZ(0);
    cursor: pointer;
    transition: all 1s ease-out;
}

.skills .sub-head .stack-button .stack-button1{
    position: absolute;
    width:20px;
    height:20px;
    background: #ff6868;
    border-radius: 8px;
box-shadow: 5px 5px 5px 0px rgba(228, 228, 228);
    transform: rotateX(45deg) rotateZ(45deg) translateZ(0);
    cursor: pointer;
}
.meter { 
    /* display: none; */
    width: 500px;
	height: 10px;  /* Can be anything */
	position: relative;
	background: #555;
	border-radius: 10px;
	padding: 2px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}
.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgb(245, 180, 145);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
  transition: width 1s cubic-bezier(0.47, 0, 0.745, 0.715);
}
.margin-bottom span{
    font-size: 15px;
    font-weight: 100px;
}
.margin-bottom{
  margin-bottom: 30px;
}
.skills .framework-container{
    display: none;
}
.skill-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:80%;
    z-index: 1;
    position: absolute;
    top:10%;

}
.skill-left svg{
    position: absolute;
    width:600px;
    z-index: 1;
}

.skill-container .skill-left img{
    width:600px;
    height:600px;
    object-fit: contain;
     position:absolute;
    z-index: 2;
}
.skill-container .skill-right .divider{
    width:500;
    
    border-top:2px solid #fff;
    border-right:2px solid #fff;
}
@media only screen and (max-width: 1366px) {
.skills{
        margin-top:0;
        transform:scale(0.8);
    }
    .skill-left svg{
        width:520px;
    }
    .about .skill-container .skill-left img {
    /* width: 600px; */
    /* height: 600px; */
    width:500px;
    object-fit: contain;
    position: absolute;
    z-index: 2;
}
}
@media(max-width:768px){
    .skill-container {
        display: flex;
        /* grid-template-columns: 1fr 1fr; */
        flex-direction: column;
        z-index: 1;
    }
    .skill-left svg {
        width: 306px;
        height: 592px;
        z-index: 1;
    }
    .skill-left svg path{
        fill: #747474;
    }
    .skill-container .skill-left img {
        width: 100%;
    }
    .skill-container .skill-right{
        z-index: 2;
    }
    .meter{
        width:300px;
    }
}

